__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
.pdm-build/
.coverage
coverage.xml
.ruff_cache


# Home Assistant configuration
config/*
!config/configuration.yaml

# enable development of GPM by storing symlinks in GIT in the same structure as if GPM is normally installed
!config/gpm
!config/gpm/github_com.tomasbedrich.gpm
!config/custom_components
!config/custom_components/gpm
