name: "Lint"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v6"

        - name: "Install uv"
          uses: "astral-sh/setup-uv@v7"
          with:
            enable-cache: true

        - name: "Set up Python"
          run: uv python install 3.13

        - name: "Install dependencies"
          run: uv sync --all-extras

        - name: "Lint"
          run: uv run ruff check .

        - name: "Format"
          run: uv run ruff format . --check
